
p {
    color: red;
}


h1 {
    text-decoration: underline;
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}

div.container1 {
    table-layout: auto;
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 3px;
        text-align: center;
        
      }

table.wikitable {
    margin: auto;
	width: 600px;
	
	
    
    
    background-color: #9ca4ac;
    color: #222;
  
    border: 1px solid #777879;
    border-collapse: collapse;

}
   


